<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom border-secondary">
  <div>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none" style="color:#000000;">
      <h2 class="h2 fw-bold">{{ site.title }}</h2>
    </a>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <h5 class="h5">{{ site.description }}</h5>
    </a>
  </div>
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto nav-link-hover-color">
    {% for item in site.data.settings.menu %}
      <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
</header>
