<div class="row g-5 mb-5">
  <div>
    {% if page.title == "Home" %}
    <h4 class="h4 fw-bold border-bottom border-secondary pb-3 mb-5">Selected Publications</h4>
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a>. <br>{{ item.authors }}</p>
      {% endfor %}
    {% else %}
    <h4 class="h4 fw-bold border-bottom border-secondary pb-3 mb-5">Publications</h4>
        <p>A list of publications I have contributed to.</p>
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a>. <br>{{ item.authors }}</p>
      {% endfor %}
    {% endif %}
  </div>
</div>
