---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h4 class="fw-bold border-bottom border-secondary pb-3 mb-5">Selected Presentations</h4>
    <p>An overview of selected talks I have given in various places, with downloadable slides, 
      and in some cases video recordings. If any of my work is interesting to you, 
      I would be happy to present it to your research group, in-person or virtually. Feel free to reach out!</p>
      <p></p>
    {% for presentation in site.data.settings.presentations %}
      {% if presentation.url %}
        <p><a href="{{ site.github.url }}/presentations/{{ presentation.url}}">{{ presentation.name }}</a><br>
      {% else %}
        <p>{{ presentation.name }}<br>
      {% endif %}
        {{presentation.location}}
      {% if presentation.video %}
        <a href="{{presentation.video}}"> (Video)</a>
      {% endif %}
      </p>
    {% endfor %}
  </div>
</div>
